    /*INICIO - ESTILIZAÇÃO PÁGINA*/

    body {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #5BB9B8;
        line-height: 1.6;
        -webkit-font-smoothing: antialiased;
        color: #fff;
        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    html {
        padding: 40px;
        font-size: 62.5%;
    }

    p {
        text-align: center;
        margin: 20px 0 60px;
    }

    h1 {
        text-align: center;
        font-weight: 300;
    }

    ::-webkit-scrollbar {
        width: 0; /* Largura da barra de rolagem */
    }

    ::-webkit-scrollbar-button {
        background-color: transparent; /* Cor da trilha da barra de rolagem */
    }

    /*FIM - ESTILIZAÇÃO PÁGINA*/

    /*INICIO - ESTILO DEV-INFO*/

    .developer-text:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .dev-info {
        background-color: #333;
        text-align: left;
        border-radius: 5%;
        color: #ffffff;
        height: flex;
        width: 32%;
        font-size: 15px;
    }

    .dev-color{
        color: #bbbaba;
    }

    .dev-color2{
        color: #ffffff;
    }

    .dev-info p{
        margin-bottom: 2%;
        margin-top: 2%;
    }

    footer  {
        margin-left: 30%;
    }

    footer p {
        width: 55%;
    }

    /*FIM - ESTILO DEV-INFO*/

    /*INICIO - ADICIONAR CURSOR POINTER AO ICONE*/

    .button-cursor {
        cursor: pointer;
    }

    /*FIM - ADICIONAR CURSOR POINTER AO ICONE*/

    /*INICIO - ESTILO COLUNA DE OPÇÕES*/

    .select {
        padding-bottom: 20px;
        border-bottom: 1px solid #28333f;
        padding: 5px;
        text-align: center;
    }

    .select:before {
        display: none;
    }

    /*INICIO - ESTILO COLUNA DE OPÇÕES*/

    /*INICIO - ESTILO TABELA*/

    main {
        background-color: #2C3845;
    }

    .th-insert{
        width: 4%;
    }

    .th-center{
        text-align: center;
    }

    table {
        display: block;
        width: 100%;
    }

    tr, td, tbody {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        padding-bottom: 10px;
    }

    td {
        padding: 10px 10px 0;
        text-align: center;
    }

    th {
        font-weight: 700;
    }

    thead th {
        background-color: #202932;
        color: #fff;
        border: 1px solid #202932;
        text-align: center;
    }

    /*FIM - ESTILO TABELA*/

    /*INICIO - ESTILO FORMULÁRIO*/

    .protocol-form {
        background-color: #333;
        position: fixed;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        top: 20%;
        left: 42%;
        height: flex;
        width: 15%;
        padding: 2%;
        z-index: 10;
    }

    .input-label {
        color: rgb(163, 163, 163);
    }

    .input-field {
        border: none;
        border-bottom: 1px solid rgb(71, 71, 71);
        background-color: transparent;
        color: rgb(126, 125, 125);
        resize: none; /* Remove a opção de redimensionamento */
        border-radius: 3px;
        padding: 0.5%;
    }

    .input-field:focus {
        outline: none;
    }

    .submit-button {
        margin-left: 30%;
        margin-bottom: 2px;
        border: none;
        background: none;
        padding: 5px 10px;
        font-size: 16px;
        color: rgb(126, 125, 125);
        cursor: pointer;
        text-decoration: none;
        border: 2px solid rgb(126, 125, 125);
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, color 0.3s;
    }

    .submit-button:focus {
        outline: none;
    }

    .submit-button:hover {
        border: 2px solid #000000;
        background-color: #000000;
        color: white;
    }

    .dark-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Cor escura com 50% de transparência */
        z-index: 9; /* Garante que a camada de escuridão fique acima de outros elementos */
    }

    .body-dark {
        overflow: hidden; /* Impede que a rolagem seja ativada quando a camada de escuridão estiver presente */
    }

    /*FIM - ESTILO FORMULÁRIO*/

    /*INICIO - ESTILO FERRAMENTA DE BUSCA*/

    .hidden {
            display: none;
        }

    .searchText {
        background-color: rgba(47, 47, 47, 0.6);
        color: rgb(163, 163, 163);
        margin-left: 35%;
        margin-bottom: 2%;
        width: 33%;
        border-radius: 10px;
        padding: 1%;
        padding-left: 1.5%;
    }

    .searchText input{
        background-color: transparent;
        color: rgb(163, 163, 163);
        padding: 1%;
        width: 85%;
        border: none;
        margin-left: 4%;
    }

    .searchText input::placeholder {
        color: rgb(163, 163, 163);
    }

    .searchText input:focus{
        outline: none;
    }

    /*FIM - FERRAMENTA DE BUSCA*/

    /*INICIO - ESTILO DESCRIÇÃO*/

    html.open, body.open {
        height: 100%;
        overflow: hidden;
    }

    .detail {
        background-color: #BD2A4E;
        width: 100%;
        height: 100%;
        padding: 40px 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    .detail.open {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .detail-container {
        margin: 0 auto;
        padding: 40px;
        max-width: 500px;
    }

    dl {
        margin: 0;
        padding: 0;
    }

    dt {
        font-size: 2.2rem;
        font-weight: 300;
    }

    dd {
        margin: 0 0 40px 0;
        font-size: 1.8rem;
        padding-bottom: 5px;
        border-bottom: 1px solid #ac2647;
        box-shadow: 0 1px 0 #c52c51;
    }

    .close {
        background: none;
        padding: 18px;
        color: #fff;
        font-weight: 300;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 4px;
        line-height: 1;
        font-size: 1.8rem;
        position: fixed;
        right: 40px;
        top: 20px;
        -moz-transition: border 0.3s linear;
        -o-transition: border 0.3s linear;
        -webkit-transition: border 0.3s linear;
        transition: border 0.3s linear;
    }

    .close:hover, .close:focus {
        background-color: #a82545;
        border: 1px solid #a82545;
    }

    /*FIM - ESTILO DESCRIÇÃO*/

    /*INICIO - RESPONSIVIDADE*/

    @media (min-width: 460px) {

        td {
            text-align: center;
        }

        td:before {
            display: inline-block;
            text-align: right;
            width: 140px;
        }

        .select {
            padding-left: 160px;
        }
    }

    @media (min-width: 720px) {

        table {
            display: table;
        }

        tr {
            display: table-row;
        }

        td, th {
            display: table-cell;
        }

        tbody {
            display: table-row-group;
        }

        thead {
            display: table-header-group;
        }

        td {
            border: 1px solid #28333f;
        }
        td:before {
            display: none;
        }

        td, th {
            padding: 10px;
        }

        .select {
            padding: 10px;
        }
    }

    /*FIM - RESPONSIVIDADE*/