/*Importação de Fonte "INTER"*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

/* Redefinindo estilo padrão do navegador */

* {
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Corpo da Página */

html {
    scroll-behavior: smooth;
}  

body {
    background-color: #1a1a1a;
    overflow-x: hidden;
}

/* INICIO - Estilização do Menu */

.menu {
    display: flex;
    position: fixed;
    background-color: #262626;
    color: #fff;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    height: 8vh;
    width: 100vw;
    top: 0;
    z-index: 10;
    transition: top 0.3s ease; /* Adiciona um efeito de transição suave */

}

.menu.hidden {
    top: -8vh; /* Coloca o menu acima da tela, ocultando-o */
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 a {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    transition: font-size 0.2s, transform 0.3s; /* Adiciona um efeito de transição suave */
    display: inline-block;
    cursor: pointer;
}

.nav-link:hover {
    transform: scale(1.35);
}

/* FIM - Estilização do Menu */

/* INICIO - Estilização da estrutura principal da página */

.section_principal {
    display: flex;
    justify-content: center;
    columns: 2;
}

/*Estilização Botão Página Inicial*/

.button-target {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(120deg, #ff6b6b, #ffa02f);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(255, 105, 105, 0.4);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.button-target:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.button-target:hover {
    transform: scale(1.05);
}

/* Estilização sessão suporte*/

.section_suporte {
    color: #f2f2f2;
    box-shadow: 0 0 3px white;
    position: relative;
    text-align: center;
    height: 65vh;
    width: 20vw;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding-top: 10vh;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    transition: font-size 0.2s, transform 0.5s; /* Adiciona um efeito de transição suave */
}

.section_suporte:hover {
    box-shadow: 0 0 6px #ffa02f;
    transform: scale(1.03);
}

.section_suporte .button-target {
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
}

.section_suporte h2 {
    display: flex;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 10%;
}

.section_suporte ul {
    justify-content: center
}

.section_suporte ul li {
    font-weight: 200;
    margin-bottom: 10%;
}

/* Estilização sessão calllog*/

.section_calllog {
    color: #f2f2f2;
    box-shadow: 0 0 3px white;
    position: relative;
    text-align: center;
    height: 65vh;
    width: 20vw;
    margin-top: 8%;
    margin-right: 10%;
    margin-left: 2%;
    margin-bottom: 5%;
    padding-top: 10vh;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    transition: font-size 0.2s, transform 0.5s; /* Adiciona um efeito de transição suave */
}

.section_calllog:hover {
    box-shadow: 0 0 6px #ffa02f;
    transform: scale(1.03);
}

.section_calllog .button-target {
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
}

.section_calllog h2 {
    display: flex;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 10%;
}

.section_calllog ul {
    justify-content: center;
}

.section_calllog ul li {
    font-weight: 200;
    margin-bottom: 10%;
}

/* FIM- Estilização da estrutura principal da página */

/*Estilização Footer*/

.footer_copyright {
    display: flex;
    justify-content: center;
    color: aqua;
    font-weight: 300;
    font-size: 2vh;
    padding: 1%;
}
