@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Rubik&display=swap');

/* Redefinindo estilo padrão do navegador */

* {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Corpo da Página */

body::before {
    content: "";
    background-image: url('https://croxisdev.com.br/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca a camada de fundo atrás de todo o conteúdo */
    opacity: 0.1; /* Ajuste a opacidade desejada (0.7 = 70%) */
}

body {
    background-color: #1A1A1A;
}

html {
    scroll-behavior: smooth;
}

/*Estilizando formulário*/

.structure-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height em vez de height */
    margin-top: 4%;
    overflow-y: auto; /* Adicione rolagem vertical quando necessário */

}

.base-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 50%;
    height: auto;
    padding: 35px;
    border-radius: 10px;
}

.base-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.base-form input {
    margin-top: 10px;
    background-color: #252A34;
    color: #CBD0F7;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    height: 45px;
    outline: none;
}

input::placeholder {
    color: #CBD0F7;
    font-size: 14px;
    opacity: 0.6;
}

label {
    color: #CBD0F7;
    font-size: 15px;
}

form [type="submit"] {
    display: block;
    background-color: #5568FE;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

p {
    color: #CBD0F7;
    margin-top: 25px;
}

.input-icon {
    background-color: #252A34;
    color: #CBD0F7;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 15px;
}

.form-title {
    margin-bottom: 20px;
}

.form-title a {
    color: aqua;
    font-size: 28px;
}


/*Estilização Footer*/

.footer_copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #888;
}