@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Rubik&display=swap');

/* Redefinindo estilo padrão do navegador */

* {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Corpo da Página */

body::before {
    content: "";
    background-image: url('https://croxisdev.com.br/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca a camada de fundo atrás de todo o conteúdo */
    opacity: 0.1; /* Ajuste a opacidade desejada (0.7 = 70%) */
}

body {
    background-color: #1A1A1A;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}  

/* INICIO - Estilização do Menu */

.menu {
    display: flex;
    position: fixed;
    background-color: rgba(38, 38, 38, 0.5); /* Cor de fundo com 50% de opacidade */
    color: #fff;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    height: 8vh;
    width: 100vw;
    top: 0;
    z-index: 10;
    transition: top 0.3s ease; /* Adiciona um efeito de transição suave */

}

.menu.hidden {
    top: -8vh; /* Coloca o menu acima da tela, ocultando-o */
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 a {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    transition: font-size 0.2s, transform 0.3s; /* Adiciona um efeito de transição suave */
    display: inline-block;
    cursor: pointer;
}

.nav-link:hover {
    transform: scale(1.35);
}

/* FIM - Estilização do Menu */

/* INICIO - Estilização da estrutura principal da página */

.section_principal {
    display: flex;
    justify-content: center;
    columns: 2;
}

/* Estilização sessão*/

.section_secundario {
    color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 0 3px white;
    position: relative;
    text-align: center;
    height: auto;
    width: 20vw;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding-top: 10vh;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    transition: font-size 0.2s, transform 0.5s; /* Adiciona um efeito de transição suave */
}

.section_secundario:hover {
    box-shadow: 0 0 6px #ffa02f;
    transform: scale(1.03);
}

.section_secundario h2 {
    display: flex;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 10%;
}

.section_secundario p {
    margin-bottom: 10%;
    text-align: left;
}

/* Estilização Formulário*/

.section_secundario input {
    background-color: transparent;
    color: white;
    width: 50%;
    border: none;
    border-left: 1px solid rgb(71, 71, 71, 0.8);
    border-right: 1px solid rgb(71, 71, 71, 0.8);
    border-radius: 8px;
    padding: 1%;
}


.section_secundario input:focus {
    background-color: transparent;
    outline: none; /* Remove a borda padrão que aparece no foco */
}

.section_secundario textarea {
        background-color: transparent;
        color: white;
        border: none;
        border-left: 1px solid rgb(71, 71, 71, 0.8);
        border-right: 1px solid rgb(71, 71, 71, 0.8);
        height: 120px;
        width: 90%;
        padding: 8px;
        margin-top: 8px;
        margin-left: 30px;
        border-radius: 10px;
        margin-bottom: 10px;
        resize: none; /* Remove a opção de redimensionamento */
        transition: font-size 0.2s, transform 0.3s; /* Adiciona um efeito de transição suave */
        display: inline-block;
}

.section_secundario textarea:focus {
    background-color: transparent;
    outline: none; /* Remove a borda padrão que aparece no foco */
}

/*Estilização do botão enviar*/

.botaoEnviar {
    margin-bottom: 10px;
    border: none;
    background: none;
    padding: 5px 10px;
    font-size: 16px;
    color: rgb(71, 71, 71, 0.8);
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgb(71, 71, 71, 0.8);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
    transition: font-size 0.2s, transform 0.3s; /* Adiciona um efeito de transição suave */
}

.botaoEnviar:focus {
    outline: none;
}

.botaoEnviar:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.1);
}

.botaoEnviar:active {
    transform: scale(1.3);
}


/* FIM- Estilização da estrutura principal da página */

/*Estilização Footer*/

.footer_copyright {
    display: flex;
    justify-content: center;
    color: aqua;
    font-weight: 300;
    font-size: 2vh;
    padding: 1%;
}